.navbar_main_container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  position: relative;
  z-index: 99;
  background: var(--primary-background);
}

.header {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
}

.navbar_main_container img {
  width: 50px;
  height: 50px;
}

.navbar_content_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.navbar_content_container a {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer !important;
}

.navbar_content_container .branding_items {
  margin-left: 60px;
}

.navbar_content_container .branding_items a {
  margin-right: 30px;
}

.navbar_content_container .user_items a {
  margin-right: 30px;
}

.user_items button {
  padding: 10px 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--primary-color);
  width: 150px;
  cursor: pointer !important;
}

.user_items button:last-child {
  background: var(--highlight-color);
}

.signIn {
  background: var(--secondary-background);
}

.mob_links {
  display: none;
  width: 100%;
  position: absolute;
  flex-direction: column;
  background: var(--primary-background);
  padding-top: 10px;
  top: -1000%;
  transition: 0.5s ease-in-out;
  z-index: 90;
}

.show {
  top: 100%;
}

.mob_links li svg {
  font-size: 22px;
  margin-right: 15px;
}

.mob_links li {
  list-style: none;
}

.mob_links li a {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  padding: 15px 20px;
  border-bottom: 2px solid var(--secondary-background);
  color: var(--primary-color);
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.mob_links li a:hover {
  background: var(--secondary-background);
}

.mob_options {
  display: none;
  color: var(--primary-color);
  font-size: 30px;
  gap: 20px;
}
.mob_options svg {
  cursor: pointer;
}

@media (max-width: 1150px) {
  .navbar_content_container a,
  .user_items button {
    font-size: 0.9rem;
  }
}

@media (max-width: 1000px) {
  .branding_items,
  .user_items {
    display: none;
  }
  .mob_links,
  .mob_options {
    display: flex;
  }
  .navbar_main_container {
    padding: 20px;
  }
  .mob_links li a {
    font-size: 0.95rem;
  }
}
